<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Another Page</title>

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/2.5.0/remixicon.css">
  <!-- Your custom CSS (if any) -->
  <link href="path/to/your/custom.css" rel="stylesheet">
</head>
<body>
<!-- Your sidebar HTML code here -->
<div th:fragment="sidebar">
  <div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
      <a class="logo logo-dark">
                    <span class="logo-sm">
                        <img alt="" height="24" th:src="@{/assets/images/sidebar/manstore-logo.jpg}"/>
                    </span>
        <span class="logo-lg">
                        <img alt="" height="100" th:src="@{/assets/images/sidebar/manstore-logo.jpg}"/>
                    </span>
      </a>
      <a class="logo logo-light">
                    <span class="logo-sm">
                        <img alt="" height="24" th:src="@{/assets/images/sidebar/manstore-logo.jpg}"/>
                    </span>
        <span class="logo-lg">
                        <img alt="" height="100" th:src="@{/assets/images/sidebar/manstore-logo.jpg}"/>
                    </span>
      </a>
      <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
              id="vertical-hover">
        <i class="ri-record-circle-line"></i>
      </button>
    </div>
    <div id="scrollbar">
      <div class="container-fluid">
        <div id="two-column-menu"></div>
        <ul class="navbar-nav" id="navbar-nav">
          <li class="menu-title"><span data-key="t-menu">Menu</span></li>
          <li class="nav-item">
            <a class="nav-link menu-link" th:href="@{/admin/statistics}">
              <i class="bi bi-speedometer2"></i>
              <span data-key="t-dashboard">Thống Kê</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" th:href="@{/admin/sell-off}">
              <i class="bi bi-receipt-cutoff"></i>
              <span data-key="t-sell-off">Bán hàng tại quầy</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarProducts" data-bs-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="sidebarProducts">
              <i class="bi bi-box-seam"></i>
              <span data-key="t-products">Sản phẩm</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarProducts">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a th:href="@{/admin/product/product_list}" class="nav-link" data-key="t-list-view">Danh sách</a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/admin/product/create_product}" class="nav-link" data-key="t-create-product">Thêm sản
                    phẩm</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" href="#sidebarTrademark" data-bs-toggle="collapse" role="button"
                     aria-expanded="false" aria-controls="sidebarTrademark">
                    <i class="bi bi-shop"></i>
                    <span data-key="t-brands">Thương hiệu</span>
                  </a>
                  <div class="collapse menu-dropdown" id="sidebarTrademark">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a th:href="@{/admin/trademark}" class="nav-link" data-key="t-list-view">Danh Sách</a>
                      </li>
                      <li class="nav-item">
                        <a th:href="@{/admin/trademark/create}" class="nav-link" data-key="t-create-brand">Thêm Thương
                          Hiệu</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" href="#sidebarSize" data-bs-toggle="collapse" role="button"
                     aria-expanded="false" aria-controls="sidebarSize">
                    <i class="ri-t-shirt-2-line"></i>
                    <span data-key="t-brands">Size</span>
                  </a>
                  <div class="collapse menu-dropdown" id="sidebarSize">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a th:href="@{/admin/size}" class="nav-link" data-key="t-list-view">Danh Sách</a>
                      </li>
                      <li class="nav-item">
                        <a th:href="@{/admin/size/add}" class="nav-link" data-key="t-overview">Thêm Size</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" href="#sidebarColor" data-bs-toggle="collapse" role="button"
                     aria-expanded="false" aria-controls="sidebarColor">
                    <i class="ri-palette-line"></i>
                    <span data-key="t-brands">Màu Sắc</span>
                  </a>
                  <div class="collapse menu-dropdown" id="sidebarColor">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a th:href="@{/admin/color}" class="nav-link" data-key="t-list-view">Danh Sách</a>
                      </li>
                      <li class="nav-item">
                        <a th:href="@{/admin/color/add}" class="nav-link" data-key="t-overview">Thêm Màu Sắc</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" href="#sidebarDesigns" data-bs-toggle="collapse" role="button"
                     aria-expanded="false" aria-controls="sidebarDesigns">
                    <i class="ri-shirt-line"></i>
                    <span data-key="t-brands">Kiểu Dáng</span>
                  </a>
                  <div class="collapse menu-dropdown" id="sidebarDesigns">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a th:href="@{/admin/designs}" class="nav-link" data-key="t-list-view">Danh Sách</a>
                      </li>
                      <li class="nav-item">
                        <a th:href="@{/admin/designs/add}" class="nav-link" data-key="t-overview">Thêm Kiểu Dáng</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" href="#sidebarShirtTail" data-bs-toggle="collapse" role="button"
                     aria-expanded="false" aria-controls="sidebarShirtTail">
                    <i class="ri-t-shirt-air-line"></i>
                    <span data-key="t-brands">Đuôi Áo</span>
                  </a>
                  <div class="collapse menu-dropdown" id="sidebarShirtTail">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a th:href="@{/admin/shirtTail}" class="nav-link" data-key="t-list-view">Danh Sách</a>
                      </li>
                      <li class="nav-item">
                        <a th:href="@{/admin/shirtTail/add}" class="nav-link" data-key="t-overview">Thêm Đuôi Áo</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" href="#sidebarCategory" data-bs-toggle="collapse" role="button"
                     aria-expanded="false" aria-controls="sidebarCategory">
                    <i class="ri-survey-line"></i>
                    <span data-key="t-brands">Danh Mục</span>
                  </a>
                  <div class="collapse menu-dropdown" id="sidebarCategory">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a th:href="@{/admin/category}" class="nav-link" data-key="t-list-view">Danh Sách</a>
                      </li>
                      <li class="nav-item">
                        <a th:href="@{/admin/category/add}" class="nav-link" data-key="t-overview">Thêm Danh Mục</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link menu-link" href="#sidebarCollar" data-bs-toggle="collapse" role="button"
                     aria-expanded="false" aria-controls="sidebarCollar">
                    <i class="ri-shirt-fill"></i>
                    <span data-key="t-brands">Loại Cổ Áo</span>
                  </a>
                  <div class="collapse menu-dropdown" id="sidebarCollar">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a th:href="@{/admin/collar}" class="nav-link" data-key="t-list-view">Danh Sách</a>
                      </li>
                      <li class="nav-item">
                        <a th:href="@{/admin/collar/add}" class="nav-link" data-key="t-overview">Thêm Cổ Áo</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarVoucher" data-bs-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="sidebarVoucher">
              <i class="bi bi-bookmark-dash"></i>
              <span data-key="t-orders">Khuyễn Mãi</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarVoucher">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a th:href="@{/admin/promotion}" class="nav-link" data-key="t-list-view">Danh Sách</a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/admin/add-promotion}" class="nav-link" data-key="t-overview">Tạo Khuyến Mãi</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarInvoice" data-bs-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="sidebarInvoice">
              <i class="bi bi-archive"></i>
              <span data-key="t-invoice">Đơn hàng</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarInvoice">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a th:href="@{/admin/invoices_list}" class="nav-link" data-key="t-list-view">Danh sách</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarCustomer" data-bs-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="sidebarCustomer">
              <i class="bi bi-people"></i>
              <span data-key="t-users-list">Khách hàng</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarCustomer">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a th:href="@{/admin/customer}" class="nav-link" data-key="t-list-view">Danh Sách</a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/admin/customer/add}" class="nav-link" data-key="t-overview">Thêm Khách Hàng</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarStaff" data-bs-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="sidebarStaff">
              <i class="bi bi-person-bounding-box"></i>
              <span data-key="t-staffs-list">Nhân viên</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarStaff">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a th:href="@{/admin/staff}" class="nav-link" data-key="t-list-view">Danh Sách</a>
                </li>
                <li class="nav-item">
                  <a th:href="@{/admin/staff/add}" class="nav-link" data-key="t-overview">Thêm Nhân Viên</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- Sidebar -->
    </div>
    <div class="sidebar-background"></div>
  </div>
</div>
</div>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<!-- Your custom JS (if any) -->
<script src="path/to/your/custom.js"></script>

</body>
</html>
